body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  padding: 1em;
  width: 60%;
  /* margin: 0 auto; */
  margin-left: 100px;
}

h1 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 1em;
}

h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

p {
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.5;
}

blockquote {
  line-height: 1.5;
  margin-left: 0;
  margin-right: 0;
  background-color: #e8e8e8;
  border-radius: 0.05em;
  padding: 1em;
}

img {
  width: 55%;
  margin: 0 auto;
  display: inherit;
}

iframe {
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0 auto;
  display: block;
}

.citation {
  font-size: 10px;
  font-style: italic;
}

.timeframe {
  padding: 0.4em;
  background-color: #e2e2e2;
  border-radius: 0.25em;
  font-family: monospace;
}

@media only screen and (max-width: 600px) {
  body {
    width: 95%;
    margin: 0 auto;
  }

  #disqussions_wrapper {
    display: none;
  }

  .disqussion {
    display: none;
  }
}
